body, html{
  background: #100c08;
  color: white;
}

body img{
  opacity: 0.20;
}

.project img{
  opacity: 1 !important;
}

body .stack{
  font-family: monospace;
  color: lightgray;
  text-transform: uppercase;
}

.page-thumbnail:hover img{
  display: block;
}

.grid{
  display: grid;
  grid-column-gap: 10vw;
  grid-row-gap: 10vw;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-thumbnail{
  z-index: 9;
  transition: opacity 250ms;
  opacity: 1;
  cursor: pointer;
}

.page-thumbnail:hover{
}

.grid.projectList img{
  position: fixed;
  
  width: 65vw;
  max-width: 1024px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.grid.projectList figure.vertical img{
  width: auto;
  height: 75vh;
}

nav.projectList > * {
  cursor: pointer;
}

.tags{
  font-size: 10px;
  margin-top: 5px;
}

.page-header{
  max-width: 400px;
}

.mood-control {
  position: absolute;
  top: 65px;
  left: 90px;
  font-size: 10px;
}
.mood{
  text-decoration: line-through;
  cursor: pointer;
}

.mood.on{
  text-decoration: none;
  cursor: default;
}

.slideShow {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  width: calc(100vw - 100px);
  height: 100vh;
  padding: 50px;
}

.slideShow > * {
  max-width: 1024px;
  margin: auto;
}

.slideShow .close-handler{
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}

footer{
  position: fixed;
  bottom: 50px;
  left: 50px;
}

.home .projectListWrapper{
  margin-bottom: 6em;
}

.projectListWrapper.current .blur-native{
  background: #BC00D1;
  background: -webkit-linear-gradient(to right, #BC00D1 0%, #D91613 100%);
  background: -moz-linear-gradient(to right, #BC00D1 0%, #D91613 100%);
  background: linear-gradient(to right, #BC00D1 0%, #D91613 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer small {
  font-size: 10px;
  font-family: sans-serif;
}
.section-title{
  opacity: 0.5;
}

footer{
  display: none;
}

@media only screen and (max-width: 1000px) {
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .grid{
    grid-template-columns: 1fr;
  }
  body{
    padding: 20px;
  }
}
