.page-thumbnail:hover img{
  display: block;
}

body.dev{
  background: black;
}

body img{
  opacity: 0.75;
}

body.dev img{
  opacity: 0.65;
}

body.dev a{
  color: white;
}

body .stack{
  font-family: monospace;
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
}

body.dev .stack{
  font-family: monospace;
  color: lightgray;
  text-transform: uppercase;
}

.page-thumbnail.simple .description{
  font-size: 10px;
}

.current-projects-wrapper > .page-thumbnail {
  float: left;
  width: 26.6666666667%;
}
.current-projects-wrapper>.page-thumbnail+.page-thumbnail{
  margin-left: 10%;
}

.current-projects-wrapper {
  display: inline-block;
}

nav{
  column-count: 3;
  column-gap: 10%;
}

nav img{
  position: fixed;
  /*display: none;*/

  width: 65vw;
  max-width: 1024px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

nav figure.vertical img{
  width: auto;
  height: 75vh;
}

nav > * {
  cursor: pointer;
}

.tags{
  font-size: 10px;
  margin-top: 5px;
}

.page-header{
  max-width: 400px;
}

.mood-control {
  position: absolute;
  top: 65px;
  left: 90px;
  font-family: monospace;
  font-size: 10px;
  color: gray;
}
.mood{
  text-decoration: line-through;
  cursor: pointer;
}

.mood.on{
  text-decoration: none;
  cursor: default;
}

.slideShow {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.9);
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  padding: 50px;
}

.slideShow > * {
  max-width: 1024px;
  margin: auto;
}

.slideShow .close-handler{
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
}

footer{
  position: fixed;
  bottom: 50px;
  left: 50px;
}

@media only screen and (max-width: 1000px) {
  nav {
    column-count: 2;
  }
  .current-projects-wrapper > .page-thumbnail {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    column-count: 1;
  }
  .current-projects-wrapper > .page-thumbnail {
    width: 100%
  }
  .current-projects-wrapper>.page-thumbnail+.page-thumbnail{
    margin-left: 0;
  }
}
